.panel-top-find{
	margin-top: 80px;
}

#find-main-panel{

}

.table-college-list{
	margin-top: 17px;
	text-align: left;
	margin-bottom: 0px;
	font-size:13px;
}

.panel-colleges-list{
	padding:8px !important;
}

.table-college-list td:first-child{
	width:75px;
}

.table-college-list td:nth-child(2){
	text-align: right;
}

.mbot15{
	margin-bottom: 15px;
}